//Home Image Hero
.hero_home{
    
    height: 95vh;
    background-image: url(/public/images/bkhome-mb.jpg);
    background-position: center;
    background-size: cover;


    &_caption{
        width: 90%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 14%;
        text-align: center;
        font-size: calc(20px + 1vw);
        color: $white_color;
        font-weight: bold;
    }
}


//Services section in Home page
.section_page--grey{
    background-color: $light-gray-color;
    padding-top: 27px;
    padding-bottom: 20px;
}

.section_page_services{
    img{
        width: 70vw;
        height: 300px;
        max-width: 450px ;
        margin-bottom: 10px;

        @media screen and (max-width:375px) {
            height: 250px;
            width: 90vw;
        }
    }
}


.services_list{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin-bottom: 30px;

    @media screen and (max-width:map-get($breakpoints,"large")){
        margin-left:5px;
    }
   
    @media screen and (min-width:1025px) {
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        padding: 50px;
        gap: 80px 100px ; 
        width: fit-content;
        margin: auto;  
        padding-left:7vw;
    }
    

    li{
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 18px;
        word-break: break-all;
        font-weight: 600;

        @media screen and (max-width:map-get($breakpoints,"medium")) {
            padding: 5px;
            font-size: map-get($font_size,"small"); 
        }
      

        &::before{
            content: "";
            width:6px;
            height:6px;
            background-color: $brand_color;
            display: block;
            border-radius: 50%;
            margin-left: 1px;
            padding: 3px;

            @media screen and (max-width:map-get($breakpoints,"medium")) {
                padding: 2px;
               
                
            }
          
        }
    }
}



.txt_services{
    margin: 10px;
    padding: 1px;
    
    a{
        color: $brand_color;
        font-weight: bold;
        text-decoration: underline;
       
    }

    &--lineheight{
        line-height: 148.7%;
        padding: 10px;
        font-size: clamp(16px,10vw,17px);
        text-align: center;
    }

    &_after_list{
        font-size: 18px;

        @media screen and (min-width:1025px){
            text-align: center;
            margin: 50px auto;
            width: clamp(300px,60vw,800px);
        
        }
    }

    
}


//Avis section

.section_avis{

    .section_page--grey{
        padding-bottom: 30px;
    }
}

.avis_score{

    &_stars{
        background-color: $white_color;
        display: flex;
        align-items: center;
        gap: 15px;
        width: fit-content;
        margin: auto;
        padding: 8px;
        border-radius: 8px;

        .star{
            margin-left: 10px;
        }

        .score{
            font-weight: bold;
            font-size: map-get($font_size,"small");
            color:lighten($dark-gray-color,20)
        }
    }
}


.score_bar{
    height: 26px;
    display: flex;
    align-items: center;
    margin: 20px 0 0 0px ;
    gap: 30px;
    justify-content: center;
    
span{
    font-weight: bold;
}

    .bar_outer{
        background-color: $white_color;
        width: 70%;
        height: 100%;
        border-radius: 12px;
        max-width: 477px;
      
    }

    .bar_inner{
        background-color: $brand_color;
        @extend .bar_outer;
        width: 80%;
     
    }
}

.title_cta{
    font-size: map-get($font_size,"medium");
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    color: lighten($dark-gray-color,20);
}


