label[for=img-thumb]{
    text-align: center;
    position: relative;

     &::after{
        content: "";
        margin-top: 10px;
        width: 300px;
        height:300px;
        display: block;
        background-color: $light-gray-color;
     }

     &::before{
        content: "";
        position: absolute;
        left:50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 60px;
        height: 60px;
        background-image: url(/src/icons/edit.svg) ;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1;
     }
}

input[name=img-thumb]{
    display: none;
}

.new_car{

    &_img-thumb{
            position: relative; 
    }

    &_details_title{
        padding: 20px;
        background-color: $brand_color;
        width: 100vw;
        text-align: center;
        color: $white-color;
        font-weight: bold;
        margin-bottom: 20px;
    }
}