
.review_card_container{
    position: relative;
}

    .reviewValidatorSwitch{
        font-weight: 600;
        border: 1px solid black ;
        cursor: pointer;
        width: fit-content;
        padding: 5px;
        margin: auto;
        position: absolute;
        bottom: 0px;
        left:50%;
        transform: translateX(-50%);
        z-index: 2;
    }



