.table_timeTableHandler{

    &_container{
    width: 90vw;
    font-size: clamp(10px,1.8vw,16px);
    min-width: 310px;
    margin: auto;

    thead,tr{
        border-bottom: 1px solid black;
    }
     
    }

    th{
        width: fit-content;
        padding: 1px;
    }
    td{
        position: relative;
        border: none;
        padding: 10px 0px;

        span.edit_time{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            color: black;

            &:hover{
                border: 1px solid red;
            }
        }
    }

    td,th{
        border: 1px solid black;
    }
}