.footer{
    background-color: $secondary_color;
    @include  flex_center(column);
    padding: 30px;
    margin-top: 40px;
    gap: 20px;
    font-size: map-get($font_size,"small");
    position: relative;
    z-index: 1;
    
    &_items_block{
        @include  flex_center(column);
        gap: 20px;

    }

    a,span{
        color: $white-color;
    }

    .social_icons{
        order: 2;
        
        img{
            margin-left: 20px;
            width: 40px;
            height: 40px;
        }
    }

    .pol{
        order: 1;
    }

    .icon_footer_info{
        display: flex;
        align-items: center;
        gap: 10px;

        &:first-child::before{
            content:'';
            width: 20px;
            height: 20px;
            display: block;
            background-image: url(/public/icons/tel.svg);
            background-position: center;
            background-size: cover;
        }

        &:last-child:before{
            content:'';
            width: 20px;
            height: 20px;
            display: block;
            background-image: url(/public/icons/mail.svg);
            background-position: center;
            background-size: cover;
        }
    }
}


//Responsive Desktop min width 1025px

@media screen and (min-width:1025px) {

    .footer{
        background-color: $secondary_color;
        @include  flex_spaceB;
        padding: 10px;
        margin-top: 20px;
        gap: 20px;
        font-size: map-get($font_size,"small");
        padding: 20px 65px;
        
            &_items_block{
                display: flex;
                gap: 55px;
                flex-direction: row;
            }
    
            a,span{
                color: $white-color;
            }
        
            .social_icons{
                order: 0;
                
                img{
                    margin-left: 20px;
                }
            }
        
            .pol{
                order: 1;
            }
    }
}