.header_outer{
   transition: all 1s ease;
    z-index: 11;
    display: unset;
}

header{
    height: $header_height_mobile;
    background-color: $brand_color;
    @include flex_spaceB;
    position:sticky;
    top: 0;
    left: 0;
   z-index: 10;
    @media screen and (min-width:769px) {
        height:$header_height;
    }
}

//brand logo in header
.brand_logo{
    background-color: $secondary_color;
    height: 51px;
    width: 111px;
    @include flex_center(row);
    justify-content: flex-start;
    padding-left:10px;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    cursor: pointer;


    @media screen and (min-width:769px) {
       width: 150px;
       padding-left: 25px;
       height: 100%;
    }

        img{
            width: 72px;
            height: 33px;
            @media screen and (min-width:769px) {
                width: 70%;
                height: 70%;
                
             }
        }   
        
}



