header{
    height: $header_height_mobile;
    background-color: $brand_color;
    @include flex_spaceB;

    @media screen and (min-width:769px) {
        height:$header_height;
    }
}

//brand logo in header
.brand_logo{
    background-color: $secondary_color;
    height: 100%;
    width: 111px;
    @include flex_center(row);
    justify-content: flex-start;
    padding-left:10px;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);

    @media screen and (min-width:769px) {
       width: 150px;
       padding-left: 25px;
    }

        img{
            width: 72px;
            height: 33px;
            @media screen and (min-width:769px) {
                width: 70%;
                height: 70%;
                
             }
        }   
        
}



