.cta{
    padding: 7px;
    border-radius: 25px;
    border: 2px solid $secondary_color;
    font-size: map-get($font_size,"small");
    min-width: 87px;
    cursor: pointer;
    box-shadow: 0 4px 10px lighten($secondary_color,40);
    display: block;
    text-align: center;
    
     
    

    &--red{
        background-color: $brand_color;
        color:$white-color;
        font-size: 24px;
        padding: 10px;
        cursor: pointer;
        font-weight: 600;
        min-width: 150px;

        &:hover{
            background-color: lighten($brand_color,10);
        }

        a{
            color:$white-color;
        }
    }

    &--white{
        background-color: $white-color;
        color:$secondary_color;
        font-size: 24px;
        padding: 10px;
        font-weight: 600;
        min-width: 150px;
        &:hover{
            background-color: lighten($secondary_color,75);
        }

        a{
            color:$secondary_color;
        }
    }

    &_offers{
        padding-left: 20px;
        padding-right: 20px;
        margin:  95px auto;
    }

    &_avis{
        padding-left: 20px;
        padding-right: 20px;
        margin:  20px auto;
    }

    &--padding-plus{
        padding-left: 20px;
        padding-right: 20px;
    }

    &--wh-70vw{
          min-width: 250px;
        @media screen and (max-width:630px) {
            width: 70vw;
           
       }
    }
}


