
.card_carousel_flex{
    display: flex;
    gap: 10px;
}

.carCards_container{
    overflow-y: hidden;
    margin-left: 10px;
}

.car_card{
    width: 80vw;
    min-width: 250px;
    max-width: 304px;
    border: 2px solid $secondary_color;
    min-height: 340px;
    padding-bottom: 10px;
    background-color: $white-color;

   
  

    img{
        width:100%;
        height: 199px;
       
    }
    
    figcaption{
        font-weight: bold;
        padding: 0 5px;
    }

    &_details{
          @include flex_spaceB;
            margin-bottom: 15px;

        &--left{
            display:flex;
            flex-direction: column;
            color: darken($light-gray-color,10);
            font-size: map-get($font_size,"small");
            padding: 0 5px;
            font-weight: 600;

        }

        &--right{
            display:flex;
            gap: 10px;
            margin-right: 20px;
        }

        &_offer_price{
            padding: 5px;
            color:$white-color;
            font-weight: bold;
            background-color: $brand_color;
            border-radius: 12px;
            transform: rotate(-22deg);
            position: relative;
            top: -8px;
        }

        &_price{
            font-size: 20px;
            color: black;
            font-weight: 600;
        }
    }

    &_buttons{
        display: flex;
        justify-content: space-between;
        margin: 0 28px;

        .car_card_cta{
            @extend .cta;
        }

        
        
    }

    & *:not(.car_card > img) {
        margin-top: 7px;
      
    }
}


//$light-gray-color