
.card_carousel_flex{
    display: flex;
    gap: 10px;
}


// ::-webkit-scrollbar{
//     display: none;
// }



.carCards_container{
    overflow-y: hidden;
    margin-left: 10px;
    margin-right: 10px;
    @extend .hidden-scrollbar;
    @media screen and (min-width:(map-get($breakpoints,"large") + 1))  {
        scroll-margin: 50px;
    }
}



.car_card{
    width: 80vw;
    min-width: 300px;
    max-width: 320px;
    border: 1px solid $secondary_color;
    min-height: 340px;
    padding-bottom: 10px;
    background-color: $white-color;
    border-radius: 8px;

    img{
        width:100%;
        height: 174px;
        border-radius: 8px 8px 0 0;
       
    }
    
    figcaption{
        font-weight: bold;
        padding: 0 5px;
    }

    &_details{
          @include flex_spaceB;
            margin-bottom: 15px;
            margin-top: 8px;

        &--left{
            display:flex;
            flex-direction: column;
            color: darken($dark-gray-color,10);
            font-size: map-get($font_size,"small");
            margin: 5px 12px;
            font-weight: 600;
            padding: 5px;

        }

        &--right{
            display:flex;
            gap: 10px;
            margin-right: 12px;
        }


        &_offer_price{
            padding: 5px;
            color:$white-color;
            font-weight: bold;
            background-color: $brand_color;
            border-radius: 12px;
            transform: rotate(-22deg);
            position: relative;
            top: -8px;
        }


        &_price{
            font-size: 20px;
            color: black;
            font-weight: 600;
        }
    }



    &_buttons{
        display: flex;
        justify-content: space-between;
        margin: 7px 28px;

        .car_card_cta{
            @extend .cta;
        }   
    }


    .car_card *:not(.car_card > img,a,button) {
        margin-top: 7px;
    }
}


