.carHandler_details{
width: 100vw;
height: 100vh;
background-color: rgb(255, 255, 255);
position: fixed;
top: 0;
left: 100%;
transition: left 0.3s ease-in-out;
z-index: 10;
overflow-y: scroll;

    &--active{
        left: 0%;
    }

}

.exitBtn{
    position: absolute;
    top: 88px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-image: url(/src/icons/goBack.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotateY(180deg);
    cursor: pointer;
   
 }