.delete_icon{
    width: 30px;
    height: 30px;
    background-image: url(/src/icons/delete.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    cursor: pointer;
}