

    .menu_button{
        height: 70%;
        width: 35px;
        margin-right: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        z-index: 10;

        @media screen and (min-width:769px) {
            display:none;
        }
    
        span{
            background-color: $secondary_color;
            padding: 1.5px;
            transition: all ease 0.3s;
        }
    }
    
    
    .menu_button--open {
        
        span{
        background: $white-color;
        }
    
        & span:nth-child(2){
            opacity: 0;
        }
    
        & span:nth-child(1){
            transform: translateY(12px) rotate(-45deg);
        }
    
        & span:nth-child(3){
            transform: translateY(-11px)rotate(45deg)
        }
    
        &.nav{
            display: none;
        }
    }


