
@media screen and (max-width:map-get($breakpoints,"medium")) {
    .nav{
        height: 100vh;
        width: 0vw;
        position: fixed;
        left: 0;
        top: 0;
        background-color: $secondary_color;
        z-index: 9;
        font-size: map-get($font_size,"medium");
        transition: width ease 0.3s;
        
    
    //nav if menu is opened
        &--open{
            width: 100vw;
            
            & > .nav_container{
                opacity: 1;
                transform: translateX(0);
            }

            
        }
    //nav-container (childs:nav_link)
        &_container{
          @include flex_center(column);
            height: inherit;
            opacity: 0;
            transform: translateX(-200px);
            transition: all 0.2s ease;
        }
    
    //Link tags
        &_link{
            margin-top: 20px;
        }
        
    }
}

.nav_link{
    color: $white-color;

    &.active{
        border-bottom: 1px solid $white-color;
    }
}

@media screen and (min-width:769px) {
    .nav{
        margin-right: 70px;
      
        &_container{
           display: flex;
           align-items: center;
           gap: 20px;
        }
    }    
        
}


//NAVLINK if active add border bottom
a.active{
    border-bottom: 1px solid $white-color;
}


.admin_nav{
    background-color: $dark_gray_color;
    @include flex_center(row);
    gap: 30px;
    padding: 20px;
}

.nav_link_logout.active{
    border-bottom: transparent;
}

.nav_link_logout:active{
    border-bottom: 1px solid $white-color;
}

