
@media screen and (max-width:map-get($breakpoints,"medium")) {
    
    .nav{
        height: 100vh;
        width: 0vw;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $secondary_color;
        z-index: 9;
        font-size: map-get($font_size,"medium");
        transition: width ease 0.3s;
        
    
    //nav if menu is opened
        &--open{
            width: 100vw;
            z-index: 9;
            height: 100vh;
                & > .nav_container{
                    opacity: 1;
                    transform: translateX(0);
                    position: relative;
                    height: 100vh;
                }

                
        }
    //nav-container (childs:nav_link)
        &_container{
          @include flex_center(column);
            height: inherit;
            opacity: 0;
            transform: translateX(-200px);
            transition: all 0.2s ease;
           
        }
    
    //Link tags
        &_link{
            margin-top: 20px;
        }
        
    }
}

.nav_link{
    color: $white-color;

    &.active{
        border-bottom: 1px solid $white-color;
    }
}

@media screen and (min-width:769px) {
    .nav{
        margin-right: 70px;
      
        &_container{
           display: flex;
           align-items: center;
           gap: 20px;
        }
    }    
        
}


//NAVLINK if active add border bottom
a.active{
    border-bottom: 1px solid $white-color;
}


.admin_nav{
    background-color: $secondary_color;
    @include flex_center(row);
    gap: 30px;
    padding: 20px;
    z-index: 10;
    top: 60px;

    @media screen and (min-width:map-get($breakpoints,"medium")) {
        position: sticky;
    }
  
    &_toggle{
        @media screen and (max-width:map-get($breakpoints,"medium")) {
        width: 40px;
        height: 40px;
        background-color: rgb(252, 252, 252);
        border-radius: 12px;
        background-image: url(/src/icons/admin_icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 11;
        position: fixed;
        top: 5px;
        right: 80px;
        cursor: pointer;

            &--active{
                background-color: $brand_color;
            }
        }
    }

    @media screen and (max-width:map-get($breakpoints,"medium")) {
        position: fixed;
        top: -100%;
        height: 0;
        padding: 10px;
       
       
        @include flex-center(column);
        width: 100vw;

        &--active{
            top: 0px;
            width: 100vw;
            height: 100vh;
            z-index: 11;
        }
       

    }
}

.nav_link_logout.active{
    border-bottom: transparent;
}

.nav_link_logout:active{
    border-bottom: 1px solid $white-color;
}

