

.page_title_home,.page_title{
 text-align: center;
  position: absolute;
 font-weight: bold;
 width: 100%;
 z-index: 2;
}



.page_title{
    padding-top: 12px;
    color: $secondary_color;
}

.page_title_home{
    padding-top: 50px;
    color: $white-color;
    z-index: 2;
   
  
    span{
        color:red;
    }
}


h1{
    font-size: 24px;
}

h2.page_title_home{
    font-size: calc(16px + 0.6vw);
}


