

.page_title_home,.page_title{
 text-align: center;
  position: absolute;
 font-weight: bold;
 width: 100%;
}

.page_title{
    padding-top: 12px;
}

.page_title_home{
    padding-top: 40px;
   
  
    span{
        color:red;
    }
}


h1{
    font-size: 24px;
}

h2.page_title_home{
    font-size: calc(16px + 0.6vw);
}
