.table_handler{

    &_container{
    width: 90vw;
    font-size: clamp(14px,1.8vw,16px);
    min-width: 500px;
    margin: auto;
    border-collapse: collapse;

        tr{
            min-height: 500px;
        }

        thead,tr{
            border-bottom: 1px solid black;
        }
     
    }

    th{
        width: fit-content;
        padding: 1px;
    }


    td{
        
        border: none;
        padding: 5px 5px;
        width: 100px;
        height: 50px;
        text-align: center;
        cursor: pointer;  
        min-width: 100px;
       
        &:hover:not(.no-event){
            border: 2px solid red;
            z-index: 100;
        }

        
        
    }

    td,th{
        border: 1px solid black;
    }
}


td.view_icon{
    background-image: url(/src/icons/view.svg);
    background-position: center;
    background-repeat: no-repeat;
}