.time_table_container{
  
    width: fit-content;
    margin: auto;
    padding: 10px;
    tbody{
        
        span{
            display: inline-block;
            width:50px;
            text-align: center;
        }
        
       
     
    }

    tr,td{
        display: block;
        border: 1px solid black;
        padding: 10px;
        border-radius: 4px;
    }
}

.time_table_single{
    font-size: map-get($font_size,"medium");
    @media screen and (max-width: 370px) {
        font-size: map-get($font_size,"small");
    }
}

.map_container{
    @include flex-center(column);
        width: 300px;
        max-width: 300px;
            iframe{
                width: 100vw;
                height: 400px;
                max-width: 90vw;
            }
    }
  


