.time_table_container{
    width: fit-content;
    margin: auto;
    padding: 10px;
    tbody{
        
        span{
            display: inline-block;
            width:50px;
            text-align: center;
        }
        
       
     
    }

    tr,td{
        display: block;
        border: 1px solid black;
        padding: 10px;
        border-radius: 4px;
    }

    tr{
        background-color: lighten($dark-gray-color,20);
        min-width: 317px;
    }

    td{
        background-color: $white-color;
    }
}

.time_table_single{

    span{
        font-weight: bold;
    }
    font-size: map-get($font_size,"medium");
    @media screen and (max-width: 370px) {
        font-size: map-get($font_size,"small");
    }

    &--close{
        color:$brand_color;
        font-weight: bold;
    }
}

.map_container{
    @include flex-center(column);
        width: 300px;
        max-width: 300px;
            iframe{
                width: 100vw;
                height: 400px;
                max-width: 90vw;
            }
    }
  


