
@import './fonts',
        './helpers';
       

        
html {
  box-sizing: border-box;
  
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

h1{
  margin: 0;
  padding: 0;
}

h3.section_title{
  font-size: 24px;
  text-align: center;
  margin: 55px 0;
}

