


//item flex-row and flex-column depends of screen width
.container--flex{
    @include flex-center(column);

    &.container_services_first_block{

        @media screen and (min-width:1025px){
            flex-direction: row;
            margin: auto;
            gap: 10vw;

            img{
                width: 35vw;
                height: 300px;
                min-width: 400px;
            }

            .txt-services{
                width: 25%;
                min-width: 300px;
            }
        }

    }

    &.container_time_map{
        margin-bottom: 100px;
        @media screen and (min-width:1025px){
            flex-direction: row;
            gap: 0 100px;
            align-items: baseline;
            

        .map_container{
            width: 300px;
            
                iframe{
                    width: 50vw;
                    max-width: 400px;
                    max-height: 350px;
                    margin-top: 20px;
                }
            }
         }
        
    }
}

ul{
   
    li{
        display: list-item;
    }
}


.container--center--row{
    @include flex-center(row);

    &--flex-end{
        align-items: flex-end;
    }
}


.container--center--column{
    @include flex-center(row);
}


.container--pad-top{
   padding-top: 80px;
}


.text-bold{
    font-weight: bold;
}

