


//item flex-row and flex-column depends of screen width
.container--flex{
    @include flex-center(column);

    &.container_services_first_block{

        @media screen and (min-width:1025px){
            flex-direction: row;
            margin: auto;
            gap: 10vw;

            img{
                width: 35vw;
                height: 300px;
                min-width: 400px;
            }

            .txt-services{
                width: 25%;
                min-width: 300px;
            }
        }

    }

    &.container_time_map{
        margin-bottom: 100px;
        @media screen and (min-width:1025px){
            flex-direction: row;
            gap: 0 100px;
            align-items: baseline;
            

        .map_container{
            width: 300px;
            
                iframe{
                    width: 50vw;
                    max-width: 400px;
                    max-height: 350px;
                    margin-top: 20px;
                }
            }
         }
        
    }
}

ul{
   
    li{
        display: list-item;
    }
}


.container--center--row{
    @include flex-center(row);

    &--flex-end{
        align-items: flex-end;
    }

    &--spaceB{
        justify-content: space-between;
    }
}


.container--center--column{
    @include flex-center(column);
}


.container--pad-top{
   padding-top: 80px;
}

.container--pad-bottom{
    padding-bottom: 80px;
 }

.container--marg-top{
    margin-top: 80px;
 }

.text-bold{
    font-weight: bold;
}



.mar-top-20{
    margin-top: 20px;
}



.mar-bot-20{
    margin-bottom: 20px;
}



.mar-bot-50{
    margin-bottom: 50px;
}



.error-message{
    font-weight: 600;
    color: red;
    display: block;
    max-width: 80vw;
    margin: auto;
}


.success-message{
    @extend .error-message;
    color: green;
}



.text-center{
    text-align: center;
}



.list-flex-wrap{
    @extend .container--center--row;
    flex-wrap: wrap;
}



.gap-20{
    gap:20px;
}



.gap-50{
    gap:50px;
}


.inputs_container_filters_inner{
    @extend .container--center--row;

    input,select{
        width: 200px;
        padding: 5px;
    }

    input[type="checkbox"]{
        height: 20px;
    }
}



.b_bottom{
  
    &--green{
        border-bottom: 1px solid lightgreen;
        display: inline;
        cursor: pointer;
    }
  
    &--red{
        border-bottom: 1px solid red;
        display: inline;
        cursor: pointer;
    }
}


.c-red{
    color:red;
}


.c-green{
    color: green;
}


.sticky_element{
    position: sticky;
    top: 100px;
    right: 0px;
   background-color: lighten($light_gray_color,10);
   padding: 40px;
    z-index: 100;
}


.mar-auto{
    margin: auto;
    width: fit-content;
}


.p-20{
    padding: 20px;
}