@mixin flex_center($direction){
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}


@mixin flex_spaceB{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



@mixin flex($dir,$jus,$ali,$gap){
  display: flex;
  flex-direction: $dir;
  justify-content: $jus;
  align-items: $ali;
  gap: $gap;

}

