
/* type Color */
$brand_color:#D64E54;
$secondary_color:#353535;

/* type Value Number */
$header_height_mobile: 50px;
$header_height: 76px;




$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;


