.slider_filter{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}

.container_slider {
 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider {
    position: relative;
    width: 200px;
  }
  
  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }
  
  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }
  
  .slider__track {
    background-color: #b4b4b4;
    width: 100%;
    z-index: 1;
  }
  
  .slider__range {
    background-color: #e23b12;
    z-index: 2;
  }
  
  .slider__left-value,
  .slider__right-value {
    color: #dbdbdb;
    font-size: 12px;
    margin-top: 20px;
  }
  
  .slider__left-value {
    left: 6px;
  }
  
  .slider__right-value {
    right: -4px;
  }
  
  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
  }
  
  .thumb--left {
    z-index: 3;
  }
  
  .thumb--right {
    z-index: 4;
  }
  
  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #c4c4c4;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #c2c2c2;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #7f8181;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #525252;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  

  .range_slider_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
  }

  .filtre_title{
    width: 100%;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid white;
  }